testpoint/Student/__pycache__/student.cpython-314.pyc
testpoint/Teacher/__pycache__/teacher.cpython-314.pyc
testpoint/Admin/__pycache__/admin.cpython-314.pyc
testpoint/Auth/__pycache__/login.cpython-314.pyc
testpoint/__pycache__/__init__.cpython-314.pyc
__pycache__/app.cpython-314.pyc
templates/searchTemplate.html
testpoint/passwordDB.env
passwordDB.env
.vscode/settings.json

